/* App.css */

/* Whole page */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(237, 231, 250);
  font-family:Georgia, 'Times New Roman', Times, serif;
}


/* parts of page */
header {
  padding: .75em;
  color: #ffffff;
  text-align: left;
  background-color: #8f64f5;
  font-family:Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  font-size: large;
  /* Ensure the header spans the entire width */
}

.allContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  flex-shrink: 0;
  color: #ffffff;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #8f64f5;
}

/* parts of the event form and headers */
main {
  flex: 1 0 auto;
  padding-bottom: 5rem;
}

.container h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #494d5f;
  text-align: center;
  font-size: 2rem;
  padding: 1em;
}

.container h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #6DD3CE;
  font-size: 1.8rem;
  text-align: center;
  padding: .5em;
}

.container button {
  background-color: #6DD3CE;
  font-family:Georgia, 'Times New Roman', Times, serif;
  align-items: center;
  margin-top: 1em;
}

.container button:hover {
  background-color:#8f64f5;
  transition: 0.7s;
}

.eventList h1 {
  color: #494d5f;
  text-align: center;
  font-size: 2rem;
  padding: 1em;
  padding-top: 4em;
}


.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
  width: calc(90%); /* Adjust the width as needed */
  margin: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardContent {
  padding: 20px;
}

.cardTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.cardDescription {
  margin-bottom: 10px;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cardStatus {
  font-weight: bold;
}



/* come back to later */
.eventList h3 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #494d5f;
  padding-left: 3rem;
  font-size: 1.5rem;
}

.eventList h4 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #494d5f;
  padding-left: 3rem;
  font-size: 1.2rem;
}

.eventList h5 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #494d5f;
  padding-left: 3rem;
  font-size: 1rem;
}

.container p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 3rem;
  font-size: 1.5rem;
  color: #494d5f;
}
