/* App.css */

/* Whole page */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: #FDFDF1;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


/* parts of page */
header {
  padding: .75em;
  color: #275dad;
  text-align: left;
  background-color: #B3B7EE;
  font-family:Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  font-size: large;
  /* Ensure the header spans the entire width */
}

.allContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  flex-shrink: 0;
  color: #275dad;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #B3B7EE;
}

/* parts of the event form and headers */
main {
  flex: 1 0 auto;
  padding-bottom: 5rem;
}

.container h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #275DAD;
  text-align: center;
  font-size: 2rem;
  padding: 1em;
}

.container h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #275DAD;
  font-size: 1.8rem;
  text-align: center;
  padding: .5em;
}

.container button {
  background-color: #275DAD;
  font-family:Georgia, 'Times New Roman', Times, serif;
  align-items: center;
  margin-top: 1em;
}

.container button:hover {
  background-color:#B3B7EE;
  transition: 0.7s;
}


.eventList h1{
  color: #275DAD;
}



/* review? */


.eventList h1 {
  color: #275dad;
  text-align: center;
  font-size: 2rem;
  padding: 1em;
  padding-top: 4em;
}




/* come back to later */



.eventList h3 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: blueviolet;
  padding-left: 3rem;
  font-size: 1.5rem;
}

.eventList h4 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: blueviolet;
  padding-left: 3rem;
  font-size: 1.2rem;
}

.eventList h5 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: blueviolet;
  padding-left: 3rem;
  font-size: 1rem;
}

.container p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 3rem;
  font-size: 1.5rem;
  color: mediumpurple;
}
