/* App.css */

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 4rem;
  color: white;
  text-align: left;
  background-color: mediumpurple;
  font-family: 'Courier New', Courier, monospace;
}

main {
  grid-area: main;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: blueviolet;
}

p {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: mediumpurple;
}

footer {
  grid-area: footer;
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: mediumpurple;
  font-family: 'Courier New', Courier, monospace;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */